<!-- templates/course-list.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}公开课列表 - 在线学习网{% endblock %}


{% block active %}
<nav>
    <div class="nav">
        <div class="wp">
            <ul>
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="active">
                    <a href="{% url 'course:list' %}">
                        公开课<img class="hot" src="{% static 'images/nav_hot.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'organization:teacher_list' %}">授课教师</a>
                </li>
                <li><a href="{% url 'organization:org_list' %}">授课机构</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block body %}
<section>
    <div class="wp">
        <ul class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li>公开课</li>
        </ul>
    </div>
</section>
<section>
    <div class="wp">
        <div class="list" style="margin-top:0;">
            <div class="left layout">
                <div class="head">
                    <ul class="tab_header">
                        <li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?sort=">最新 </a></li>
                        <li class="{% ifequal sort 'hot' %}active{% endifequal %}"><a href="?sort=hot">最热门</a></li>
                        <li class="{% ifequal sort 'students' %}active{% endifequal %}"><a
                                href="?sort=students">参与人数</a></li>
                    </ul>
                </div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
                        <div class="group_list">
                            {% for course in all_course %}
                            <div class="box">
                                <a href="{% url 'course:detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading"
                                         src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.learn_times }}</i></span>
                                    <span class="fr">学习人数：{{ course.students }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'course:detail' course.id %}"><span class="fl">{{ course.course_org.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.fav_nums }}
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pageturn">
                            <ul class="pagelist">
                                <li class="long">
                                    {% if all_course.has_previous %}
                                    <a href="?page={{ all_course.previous_page_number }}">上一页</a>
                                    {% endif %}
                                </li>


                                <li class="{% ifequal page all_course.number %}active{% endifequal %}">
                                    {% if all_course.has_previous %}
                                    <a href="?page={{ all_course.previous_page_number }}">{{
                                        all_course.previous_page_number }}</a>
                                    {% endif %}
                                </li>


                                <li class="{% ifequal page all_course.number %}active{% endifequal %}"><a
                                        href="?page=1">{{ all_course.number }}</a></li>

                                <li class="long">
                                    {% if all_course.has_next %}
                                    <a href="?page={{ all_course.next_page_number }}">下一页</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right layout">
                <div class="head">热门课程推荐</div>
                <div class="group_recommend">
                    {% for course in hot_course %}
                    <dl>
                        <dt>
                            <a target="_blank" href="">
                                <img width="240" height="220" class="scrollLoading"
                                     src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href=""><h2> {{ course.name }}</h2></a>
                            <span class="fl">难度：<i class="key">{{ course.get_degree_display }}</i></span>
                        </dd>
                    </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}